@mixin bg-gradient($color1, $color2) {
  background-image: linear-gradient(135deg, $color1 10%, $color2 100%);
}

$theme-colors: (
  "light-dark": #f6f6f6
);

$body-bg: #efefef;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-vue/src/index.scss";

.bg-gradient {
  &-primary {
    @include bg-gradient(#429dff, #007bff);
  }
  &-white {
    @include bg-gradient(#ffffff, #f7f7f7);
  }
}

@mixin box-shadow-color($size, $color) {
  box-shadow: $size $color !important;
}

.rounded {
  &-5 {
    border-radius: 5px !important;
  }
  &-10 {
    border-radius: 10px !important;
  }
  &-30 {
    border-radius: 30px !important;
  }
}
.shadow {
  &-primary {
    @include box-shadow-color(0 0.5rem 1rem, rgba(0, 123, 255, 0.25));
  }
}

.border {
  &-dashed {
    border-style: dashed !important;
  }
  &-3 {
    border-width: 3px !important;
  }
  &-dark {
    border-color: #6c6f71 !important;
  }
}

.flex {
  &-0 {
    flex: 0 0 auto;
  }
  &-1 {
    flex: 1 1 auto;
  }
}

.dropdown {
  &-menu {
    border: 0;
    border-radius: 10px;
    @include box-shadow-color(0 0.5rem 1rem, rgba(0, 0, 0, 0.15));
    padding: 10px;
  }
  &-item {
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &.b-dropdown {
    .b-dropdown-form {
      padding: 0;
      &:focus {
        outline: none !important;
      }
      > div {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        &:hover {
          color: #16181b;
          text-decoration: none;
          background-color: #f8f9fa;
        }
        input {
          position: relative;
        }
      }
    }
  }
}
.filter .dropdown button {
  color: #0979fa;
}

.btn {
  &-icon {
    position: relative;
    padding: 0 0.5rem;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: 0.3s ease-out;
    line-height: 36px;
    text-transform: uppercase;
    svg {
      font-size: 18px;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      line-height: inherit;
      &.float-left {
        margin-right: 15px;
      }
      &.float-right {
        margin-left: 15px;
      }
    }
    &-circle {
      width: 32px;
      height: 32px;
      border-radius: 30px;
      i {
        width: inherit;
        height: inherit;
        display: inline-block;
        text-align: center;
        color: #585757;
        font-size: 12px;
        line-height: 32px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &-import {
    color: #34a853;
    background: rgba(52, 168, 83, 0.06);
    &:hover {
      @include bg-gradient(#41d468, #34a853);
      border-color: transparent !important;
    }
  }
  &-create {
    color: #fb6c05;
    background: rgba(251, 108, 5, 0.1);
    &:hover {
      @include bg-gradient(#ff9e58, #fb6c05);
      border-color: transparent;
    }
  }
}

.section {
  &-header {
    display: flex;
  }
  &-title {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .line {
    padding-top: 20px;
  }
}

.icon-input {
  .icon-append {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    margin: 11px;
    background: #ffffff;
  }
}

// .modal-backdrop {
//   backdrop-filter: saturate(100%) blur(10px);
//   opacity: 1 !important;
//   background-color: rgba(0, 0, 0, 0.5);
// }
.foot-nav-stick {
  // backdrop-filter: saturate(100%) blur(10px);
  // background-color: rgba(255, 255, 255, 0.5) !important;
  border-top: 1px solid #cccccc;
}

.form-control:focus {
  box-shadow: none;
}

.search {
  &-input {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    color: #8d8d8d;
    &:focus {
      border: 1px solid #c7c7c7;
      border-right-width: 0;
    }
  }
  &-btn {
    border: none;
    background: rgba(196, 196, 196, 0.2);
  }
}

.event {
  &-item {
    border: 1px solid transparent;
  }
  .captionSubtitle {
    font-style: normal !important;
    font-size: 12px;
    line-height: 20px !important;
    transform: translateY(1.8px);
    letter-spacing: 0.03em !important;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54) !important;
    fill: rgba(0, 0, 0, 0.54) !important;
  }
  .title {
    font-style: normal !important;
    font-size: 24px !important;
    line-height: 24px !important;
    letter-spacing: -0.17px !important;
  }
  &-active {
    @include bg-gradient(#e0f2ff, #abdcff);
    border-color: transparent;
  }
  &-action {
    .btn {
      &:hover {
        @include bg-gradient(#ffffff, #f7f7f7);
      }
    }
  }
}

.checkAll {
  > div {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}

.dropzone {
  position: relative;
  letter-spacing: 0.2px;
  color: #777;
  transition: 0.2s linear;
  &:hover .dz-message,
  &.dz-drag-hover .dz-message {
    cursor: pointer;
    opacity: 0.5;
  }
  &.dz-started {
    display: flex;
    flex-wrap: wrap-reverse !important;
    justify-content: center !important;
    background-color: #efefef;
    .dz-message {
      display: none;
    }
    .dz-preview {
      margin: 1rem;
      padding: 0.5rem;
      position: relative;
      background-color: #ffffff;
      border-radius: 10px;
      align-self: auto;
      width: 43%;
      min-height: 150px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      &.dz-image-preview .dz-image > img {
        width: 100%;
        height: 100%;
      }
      .dz-progress {
        opacity: 0;
        z-index: 1000;
        pointer-events: none;
        position: absolute;
        height: 16px;
        left: 50%;
        top: 50%;
        margin-top: -8px;
        width: 80px;
        margin-left: -40px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #cccccc;
        transform: scale(1);
        border-radius: 8px;
        overflow: hidden;
        .dz-upload {
          background: #333;
          background: linear-gradient(to bottom, #666, #444);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          transition: width 300ms ease-in-out;
        }
      }
      &.dz-complete {
        .dz-progress,
        &::before {
          display: none;
          transition: opacity 0.4s ease-in;
        }
      }
      &.dz-processing {
        .dz-progress {
          opacity: 1;
          transition: all 0.2s linear;
        }
        &::before {
          opacity: 1;
          transition: all 0.2s linear;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: saturate(180%) blur(10px);
          border-radius: 5px;
        }
      }
      .dz-success-mark,
      .dz-error-mark {
        display: none;
        transition: opacity 0.4s ease-in;
        position: absolute;
        top: -5%;
        right: -5%;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      &.dz-complete {
        &.dz-success .dz-success-mark {
          display: block;
          transition: opacity 0.5s ease-in;
        }
        &.dz-error {
          .dz-error-mark,
          .dz-error-message {
            display: block;
            transition: opacity 0.5s ease-in;
          }
          &:hover .dz-error-message {
            opacity: 0;
            transition: opacity 0.5s ease-in;
          }
        }
      }
      .dz-error-message {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 24px;
        background-color: #dc3545;
        color: #fff;
        font-size: 14px;
        padding: 1rem;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: width 300ms ease-in-out;
      }
      .dz-remove {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 24px;
        border-top: 1px solid #ccc;
      }
    }
  }
}

//-breakpoint-xs -> -sm
@media (max-width: 575px) {
  .event-title {
    min-width: 290px !important;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

//--breakpoint-md
@media (min-width: 768px) {
  .modal-custome {
    max-width: 480px !important;
  }
}

//--breakpoint-lg:
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .modal-custome {
    max-width: 620px !important;
  }
  .course-code {
    width: 400px !important;
  }
  .site-supplier {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .time {
    width: 350px;
  }
  .site-supplier {
    display: block !important;
    width: 350px !important;
  }
}
